@media (max-width: 1200px){
    .mariela--product {
        &-card {
            &__first-screen {
                margin-left: -284px;
            }
        }
    }

    .mariela--first-screen {
        &__container {
            max-width: 992px;
        }
    }
}

@media (max-width: 992px){
    .mariela--product {
        margin: 50px 0;

        &__container .row {
            margin-bottom: 20px;
        }

        &-card {
            &__first-screen {
                margin-left: 0;
                margin-top: -250px;
            }

            &__second-screen {
                margin-top: -230px;
                margin-right: 0;
            }

            &__third-screen {
                margin-left: -197px;
                z-index: 3;
            }
        }
    }

    .mariela--first-screen {
        &__container {
            max-width: 768px;
            flex-direction: column;
            align-items: center;
        }

        &__cube-decoration {
            &:before, &:after {
                display: none;
            }
        }
    }

    .mariela--second-screen {
        &__container {
            flex-direction: column;
            align-items: center;
        }
    }

    .mariela--second-about__container .row > div,
    .mariela--product__container .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .mariela--second-about {
        &__description {
            font-size: 20px;
        }
    }


    .mariela--feedback__input {
        &:first-of-type {
            margin-bottom: 20px;
        }
    }

    .mariela--navbar-footer .nav-item {
        margin-right: 0;

        &:first-child {
            margin-left: 0;
        }
    }
}

@media (max-width: 768px){
    .mariela--first-screen {
        &__container {
            flex-direction: column;
        }
    }

    .mariela--product {
        &-card {
            &__second-screen, &__first-screen, &__third-screen {
                margin-top: 0;
                max-width: 100%;
                padding: 50px;
                height: auto;
            }

            &__third-screen {
                margin-left: 0;
            }
        }
        
        &-title {
            font-size: 35px;
        }
    }

    .mariela--second-screen {
        &__container {
            max-width: 100%;
            align-items: center;
        }
    }

    .mariela--about-description {
        font-size: 20px;
    }

    .mariela--first-screen {
        min-height: 0;
    }

    .mariela--first-about {
        margin: 50px 0;
    }

    .mariela--third-screen {
        &__container {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 576px){
    .mariela--newsletter {
        &__form {
            flex-direction: column;
            width: calc(100%);
        }

        &__input {
            padding: 10px 0;
        
            &:first-of-type {
                border-right-style: solid;
                border-radius: 3px;
                margin-bottom: 10px;
            }
    
            &:last-of-type {
                border-right-style: solid;
                border-radius: 3px;
                margin-bottom: 15px;
            }
        }

        &__btn {
            border-radius: 3px;
        }
    }
}