<div class="mariela--features">
    <div class="container mariela--features__container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="mariela--features__radius">
            <img src="assets/images/features/home.svg" alt="" class="img-fluid">
          </div>
          <h1 class="mariela--features__title">Safe shopping</h1>
          <p class="mariela--features__content">Buy with confidence</p>
        </div>
        <div class="col-12 col-lg-4">
          <div class="mariela--features__radius">
            <img src="assets/images/features/car.svg" alt="" class="img-fluid">
          </div>
          <h1 class="mariela--features__title">Fast shipping</h1>
          <p class="mariela--features__content">Get your product fast</p>
        </div>
        <div class="col-12 col-lg-4">
          <div class="mariela--features__radius">
            <img src="assets/images/features/like.svg" alt="" class="img-fluid">
          </div>
          <h1 class="mariela--features__title">Satisfaction guarantee</h1>
          <p class="mariela--features__content">Or get your money back</p>
        </div>
      </div>
    </div>
  </div>