<div class="mariela--feedback" id="tab-contact">
    <div class="container mariela--feedback__container">
      <div class="row">
        <div class="col-12 col-lg-5">
          <h1 class="mariela--feedback__title">email</h1>
          <p class="mariela--feedback__content">support@website.com</p>

          <h1 class="mariela--feedback__title">phone</h1>
          <p class="mariela--feedback__content">800-123-456</p>

          <h1 class="mariela--feedback__title">address</h1>
          <p class="mariela--feedback__content">23 Evergreen Street,
            <br>San Francisco, California
            <br>USA</p>
        </div>
        <div class="col-12 col-lg-7">
          <h1 class="mariela--feedback__title">address</h1>
          <p class="mariela--feedback__content">Drop us your message and I'll get back to you as soon as possible.</p>

          <form action="#" method="GET">
            <div class="row mb-4">
              <div class="col-12 col-lg-6">
                <input type="text" class="mariela--feedback__input" name="feedback_username" placeholder="your name">
              </div>
              <div class="col-12 col-lg-6">
                <input type="text" class="mariela--feedback__input" name="feedback_company"
                  placeholder="your company">
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-12 col-lg-6">
                <input type="tel" class="mariela--feedback__input" name="feedback_phone" placeholder="your phone">
              </div>
              <div class="col-12 col-lg-6">
                <input type="email" class="mariela--feedback__input" name="feedback_email" placeholder="your email">
              </div>
            </div>
            <textarea class="mariela--feedback__textarea" name="message" placeholder="your message"></textarea>

            <button class="mariela--feedback__btn">Lets talk</button>
          </form>
        </div>
      </div>
    </div>
  </div>