<div class="mariela--first-screen" id="tab-home">
    <div class="mariela--first-screen__container mariela--first-screen__cube-decoration">
      <img src="assets/images/first-screen/pillow.svg" alt="" class="img-fluid">
      <div class="mariela--product-card mariela--product-card__first-screen">
        <span class="mariela--product-label">new</span>
        <h1 class="mariela--product-title">Spring Cushion <br> Collection 2019</h1>
        <button class="mariela--product-btn">buy now</button>
      </div>
    </div>
  </div>