<section class="mariela--first-about">
    <div class="container mariela--first-about__container">
      <h1 class="mariela--about-title">I'm a cushion designer</h1>
      <p class="mariela--about-description">Based in San Francisco, California I design trendy and fashion Cushions,
        since I have memory I always had a tendency to design and illustration.</p>
      <button class="mariela--about-btn mx-auto">Learn More</button>
      <div class="row">
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-5 p-0">
          <div class="mariela--about-card">
            <img src="assets/images/about-card/girl.svg" alt="" class="img-fluid">
            <div class="mariela--about-card__wrapper">
              <h1 class="mariela--about-card__title">About me</h1>
              <a href="#" class="mariela--about-card__btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-5 p-0">
          <div class="mariela--about-card">
            <img src="assets/images/about-card/pillow.svg" alt="" class="img-fluid">
            <div class="mariela--about-card__wrapper">
              <h1 class="mariela--about-card__title">My products</h1>
              <a href="#" class="mariela--about-card__btn">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-5 p-0">
          <div class="mariela--about-card">
            <img src="assets/images/about-card/keyboard.svg" alt="" class="img-fluid">
            <div class="mariela--about-card__wrapper">
              <h1 class="mariela--about-card__title">Contact me</h1>
              <a href="#" class="mariela--about-card__btn">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>