<footer>
    <nav class="navbar mariela--navbar-footer navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/images/brand-light.svg" alt="Logo">
        </a>
        <div class="collapse navbar-collapse show" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#tab-home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tab-contact">Contact me</a>
            </li>
          </ul>

          <div class="d-flex">
            <a href="https://www.facebook.com/derristy" target="_blank" class="nav-link">
              <img src="assets/images/facebook.svg" alt="Facebook">
            </a>
          </div>
        </div>
      </div>
    </nav>
  </footer>

  <div class="mariela--scroll-up">
    <img src="assets/images/scroll-up.svg" alt="" class="img-fluid">
  </div>

  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/jquery-3.6.2.min.js"></script>
  <script src="assets/js/app.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7WZF15NX96"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-7WZF15NX96');
  </script>
</body>
</html>