<div class="mariela--newsletter">
    <div class="container mariela--newsletter__container">
      <h1 class="mariela--newsletter__title">NEWSLETTER</h1>
      <p class="mariela--newsletter__content">Get promotions & updates!</p>

      <form action="#" method="GET" class="mariela--newsletter__form">
        <input type="text" name="newsletter_username" class="mariela--newsletter__input" placeholder="your name">
        <input type="email" name="newsletter_email" class="mariela--newsletter__input" placeholder="your email">
        <button class="mariela--newsletter__btn">subscribe</button>
      </form>
    </div>
  </div>