<div class="mariela--product" id="tab-products">
    <div class="container mariela--product__container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-1.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Plated Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-2.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Silver Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-3.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Deep Blue Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-4.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Pink Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-5.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Black Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
        <div class="col-12 col-lg-4">
          <img src="assets/images/product/pillow-6.svg" alt="" class="img-fluid">
          <h1 class="mariela--product__title">Green Cushion</h1>
          <span class="mariela--product__price">$ 19.99 USD</span>
        </div>
      </div>
    </div>
  </div>