<section class="mariela--second-about">
    <div class="container mariela--second-about__container">
      <div class="row">
        <div class="col-12 col-lg-6 align-self-center">
          <h1 class="mariela--second-about__title">beginnings</h1>
          <p class="mariela--second-about__description">Credibly innovate granular internal or organic sources whereas
            high standards in web-readiness. Energistically scale future-proof core competencies vis-a-vis impactful
            experiences.</p>
          <p class="mariela--second-about__description">Dramatically synthesize integrated schemas. with optimal
            networks.</p>
        </div>
        <div class="col-12 col-lg-6">
          <img src="assets/images/second-about/pillow-1.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="row d-flex flex-row-reverse">
        <div class="col-12 col-lg-6 align-self-center">
          <h1 class="mariela--second-about__title">carrer</h1>
          <p class="mariela--second-about__description">Collaboratively administrate turnkey channels whereas virtual
            e-tailers.</p>
          <p class="mariela--second-about__description">Objectively seize scalable metrics whereas proactive
            e-services seamlessly empower fully researched growth strategies.</p>
          <p class="mariela--second-about__description mb-4">And interoperable internal or “organic” sources.</p>
          <button class="mariela--about-btn">Learn More</button>
        </div>
        <div class="col-12 col-lg-6">
          <img src="assets/images/second-about/pillow-2.svg" alt="" class="img-fluid">
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 align-self-center">
          <h1 class="mariela--second-about__title">products</h1>
          <p class="mariela--second-about__description">Seamlessly empower fully researched growth strategies and
            interoperable internal or “organic” sources.</p>
          <p class="mariela--second-about__description">Credibly innovate granular internal or “organic” sources
            whereas high standards in web-readiness.</p>
          <p class="mariela--second-about__description">Energistically scale future-proof core competence</p>
        </div>
        <div class="col-12 col-lg-6">
          <img src="assets/images/second-about/pillow-3.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>